.donation-page {
  height: 100vh;
  background: #ffffff;
  background: -webkit-linear-gradient(to left, rgb( 39, 64, 70, 0.5), #ffffff);
  background: linear-gradient(to left, rgb( 39, 64, 70, 0.5), #ffffff);
}

.donate-form-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate-form {
  margin-top: 6rem;
  /* width: 40rem; */
}

.donate-blood-grp {
  display: flex;
  flex-direction: column;
  width: 40rem;
  border: 1px solid #333;
  padding: 20px;
}

.donate-details {
  width: 40rem;
  border: 1px solid #333;
  margin-top: 3rem;
  padding: 20px;
}

.details-header {
  color: #c31432;
}

.donate-label {
  display: none;
}

.details-section {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.donation-request {
  margin-top: 2rem;
  background-color: #c31432;
  border: 3px solid #fff;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}
