.sidebar-container {
    background: #ADA996;
    background: -webkit-linear-gradient(top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    width: 25%;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 3rem;
    color: #333;
    padding: 10px 0;
    list-style: none;
    font-size: 18px;
    height: 70%;
    margin: 2rem;
}

.sidebar-link {
    text-decoration: none;
    color: #333;
}

.sidebar-link:hover {
    border-bottom: 3px solid #c31432;
}