.landing-screen {
  background-image: url(../../assets/_Fallback.jpg);
  background-size: cover;
  background-position: inherit;
  height: 100vh;
  overflow: auto;
}

.landing-gradient {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  background: -webkit-linear-gradient(to left, rgb( 39, 64, 70, 0.5), #ffffff);
  background: linear-gradient(to left, rgb( 39, 64, 70, 0.5), #ffffff);
}

.welcome-navbar {
  margin-top: 40px;
  width: 90%;
  height: fit-content;
  /* position: fixed; */
}

.landing-container {
    padding: 15px 0;
    width: 90%;
    height: 70%;
    /* border: 1px solid black; */
    /* margin-top: 10rem; */
}

.landing-text {
  margin-top: 6rem;
  font-size: 80px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.landing-btn {
  background-color: #c31432;
  width: 10rem;
  border: 3px solid #ffffff;
  margin-top: 5rem;
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.landing-link {
  text-decoration: none;
}

.about-page {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  margin-top: 10rem;
  color: #c31432;
  font-size: 50px;
  letter-spacing: 3px;
}

.about-text {
  margin-top: 3rem;
  width: 50%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.back-top {
  align-self: end;
  margin-top: 10rem;
}

.services-page {
  height: 100vh;
}

.services-overlay {
  height: 100%;
  background: #ffffff;
  background: -webkit-linear-gradient(to left, rgb( 39, 64, 70, 0.5), #ffffff);
  background: linear-gradient(to left, rgb( 39, 64, 70, 0.5), #ffffff);
}

.contact-us {
  border: 1px solid #d3d3d3;
  padding: 15px;
  margin-top: 20px;
}