.landing-screen {
  background-image: url(../../assets/_Fallback.jpg);
  background-size: cover;
  background-position: inherit;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.landing-gradient {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  background: -webkit-linear-gradient(to left, rgb( 39, 64, 70, 0.5), #ffffff);
  background: linear-gradient(to left, rgb( 39, 64, 70, 0.5), #ffffff);
}

.welcome-navbar {
  margin-top: 40px;
  width: 90%;
  height: fit-content;
  /* position: fixed; */
}

.landing-container {
    padding: 15px 0;
    width: 90%;
    height: 70%;
    /* border: 1px solid black; */
    /* margin-top: 10rem; */
}

.landing-text {
  margin-top: 6rem;
  font-size: 80px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.landing-btn {
  background-color: #c31432;
  width: 10rem;
  border: 3px solid #ffffff;
  margin-top: 5rem;
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.landing-link {
  text-decoration: none;
}

.link-position {
  margin-top: 5rem;
  align-self: end;
  margin-right: 4rem;
}

.about-page {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  margin-top: 10rem;
  color: #c31432;
  font-size: 50px;
  letter-spacing: 3px;
}

.about-text {
  margin-top: 3rem;
  width: 50%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.back-top {
  color: #333;
}

.services-page {
  height: 100vh;
}

.services-overlay {
  height: 100%;
  background: #ffffff;
  background: -webkit-linear-gradient(to left, rgb( 39, 64, 70, 0.5), #ffffff);
  background: linear-gradient(to left, rgb( 39, 64, 70, 0.5), #ffffff);
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-header {
  margin-top: 10rem;
  color: #c31432;
  font-size: 50px;
  letter-spacing: 3px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  gap: 20px;
  margin-top: 3rem;
}

.service-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.card-text {
  margin-top: 1rem;
  font-size: 18px;
}

.contact-page {
  height: 100vh;
}

.contact-overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  border: 8px solid #c31432;
  width: 80%;
  height: 50%;
  margin-top: 8rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-text {
  text-align: center;
  font-size: 22px;
  letter-spacing: 2px;
  width: 60%;
}

.contact-digit {
  font-size: 40px;
  letter-spacing: 3px;
  margin-top: 2rem;
  font-weight: bolder;
}

.footer {
  background-color: black;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  display: flex;
}

.footer-text {
  text-align: center;
  letter-spacing: 3px;
  justify-self: center;
  margin: auto;
}

.landing-link {
  text-decoration: none;
  align-self: end;
  margin-top: 10rem;
}

.footer-link-div {
  margin-right: 3rem;
}

.footer-link {
  text-decoration: none;
  justify-self: end;
  color: #fff;
}

.footer-link-text {
  color: #fff;
}